<div class="login">
  <form class=" Loginform" [formGroup]="LoginForm">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label ">Email-Address</label>
      <input #email type="email" class="form-control input" formControlName="email">
      <div *ngIf=" emailTouch">
        <div *ngIf=" !emailValid ; else trueblock" class="form-text" style="color: red;">
          Email-Address is not matched with pattern
        </div>

      </div>
      <ng-template #trueblock>
        <div style="color: rgb(57, 151, 57);">Valid Email-Address</div>
      </ng-template>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Username</label>
      <input #username type="text" class="form-control input" formControlName="username">
      <div *ngIf=" usernameTouch">
        <div class="form-text" *ngIf="!usernameValid ; else trueblock2" style="color: red;">
          7< name <14 </div>
        </div>
        <ng-template #trueblock2>
          <div style="color:rgb(57, 151, 57);">Valid username</div>
        </ng-template>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input #password type="password" class="form-control input" formControlName="password">
        <div *ngIf=" passwordTouch">

          <div class="form-text" *ngIf="!passwordValid ; else trueblock3" style="color: red;">
            7< password <14 </div>

          </div>
          <ng-template #trueblock3>
            <div style="color:rgb(57, 151, 57);">Valid Password</div>
          </ng-template>
        </div>
        <button type="submit" class="btn btn-primary" value="Log in"
          (click)="check(email.value, username.value, password.value)">Register</button>
  </form>
</div>