<div class="container-fluid ">

    <!-- ****************************Carousel****************************** -->
    <div class="row pt-2">

        <div class="Slider col-lg-7">
            <div id="slider">
                <figure>
                    <img src="assets/images/Carousel2.PNG">
                    <img src="assets/images/Carousel3.jpg">
                    <img src="assets/images/Carousel4.jpg">
                </figure>
            </div>
        </div>


        <div class=" col-lg-5 Pics4">
            <div class="row">
                <div class=" col-lg-6">
                    <div class="container1">
                        <img src="assets/images/Carousel4.jpg" alt="Avatar" class="image">
                    </div>
                </div>
                <div class=" col-lg-6">
                    <div class="container1">
                        <img src="assets/images/Dominate.jpg" alt="Avatar" class="image">
                    </div>
                </div>
            </div>
            <div class="row pt-2">
                <div class=" col-lg-6">
                    <div class="container1">
                        <img src="assets/images/sigma.jpg" alt="Avatar" class="image">
                    </div>
                </div>
                <div class=" col-lg-6">
                    <div class="container1">
                        <img src="assets/images/Gaming.jpg" alt="Avatar" class="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- *************Categories***************** -->

    <div class="p-3">
        <h4>SHOP BY CATEGORIES</h4>
        <hr>
        <div class="horizontal_slider" id="container">
            <div class="slider_container">
                <div class="item hovereffect">
                    <div class="itemImage  text-white">
                        <img src="assets/images/desktop.jpeg" alt="" class="card-img">
                    </div>
                    <p class="parag">DESKTOP</p>
                </div>
                <div class="item hovereffect">
                    <div class="itemImage text-white">
                        <img src="assets/images/network.jpg" alt="">
                    </div>
                    <p class="parag">NETWORK</p>
                </div>
                <div class="item hovereffect">
                    <div class="itemImage text-white">
                        <img src="assets/images/notebook.jpg" alt="">
                    </div>
                    <p class="parag">NOTEBOOK</p>
                </div>
                <div class="item hovereffect">
                    <div class="itemImage text-white">
                        <img src="assets/images/storage.jpg" alt="">
                    </div>
                    <p class="parag">STORAGE</p>
                </div>
                <div class="item hovereffect">
                    <div class="itemImage text-white">
                        <img src="assets/images/tv.jpg" alt="">
                    </div>
                    <p class="parag">TV</p>
                </div>
                <div class="item hovereffect">
                    <div class="itemImage text-white">
                        <img src="assets/images/software.jpg" alt="">
                    </div>
                    <p class="parag">SOFTWARE</p>
                </div>
                <div class="item hovereffect">
                    <div class="itemImage text-white">

                        <img src="assets/images/Bundles.jfif" alt="">
                    </div>
                    <p class="parag">BUNDLES</p>
                </div>
                <div class="item hovereffect">
                    <div class="itemImage text-white">

                        <img src="assets/images/Access.jpg" alt="">
                    </div>
                    <p class="parag">ACCESSORIES</p>
                </div>
                <div class="item hovereffect">
                    <div class="itemImage text-white">

                        <img src="assets/images/tools.jpg" alt="">
                    </div>
                    <p class="parag">TOOLS</p>
                </div>
            </div>

        </div>

    </div>
    <div class="buttonsOfScroll">
        <button type="button" class="btn btnScroll" id="sliderleft" (click)="ClickLeft()">
            < </button>
                <button type="button" class="btn btnScroll" id="slideright" (click)="ClickRight()"> > </button>
    </div>






    <!-- *********************Desktop******************* -->


    <div class="ps-4 pe-4">
        <h4>DESKTOP</h4>
        <hr>
        <div class="horizontal_slider container11" id="container1">
            <div class="slider_container">
                <div class="item hovereffect">
                    <div class="itemImage card bg-dark text-white">
                        <img src="assets/images/desktop.jpeg" alt="" class="card-img">
                        <div class="card-img-overlay">

                        </div>
                    </div>
                    <div class="iconsofitem ps-3">
                        <button class="Addtocart btn HoverBlue addCategorybtn">Add to cart</button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-heart "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="fa-solid fa-arrows-rotate "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-cart "></i></button>
                    </div>
                    <p class="parag">DESKTOP</p>
                </div>
                <div class="item hovereffect">
                    <img src="assets/images/network.jpg" alt="" class="img-responsive">
                    <div class="iconsofitem ps-3">
                        <button class="Addtocart btn HoverBlue addCategorybtn">Add to cart</button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-heart "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="fa-solid fa-arrows-rotate "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-cart "></i></button>
                    </div>
                    <p class="parag">NETWORK</p>
                </div>
                <div class="item hovereffect">
                    <img src="assets/images/notebook.jpg" alt="" class="img-responsive">
                    <div class="iconsofitem">
                        <button class="Addtocart btn HoverBlue addCategorybtn">Add to cart</button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-heart "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="fa-solid fa-arrows-rotate "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-cart "></i></button>
                    </div>
                    <p class="parag">NOTEBOOK</p>
                </div>
                <div class="item hovereffect">
                    <img src="assets/images/storage.jpg" alt="" class="img-responsive">
                    <div class="iconsofitem ps-3">
                        <button class="Addtocart btn HoverBlue addCategorybtn">Add to cart</button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-heart "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="fa-solid fa-arrows-rotate "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-cart "></i></button>
                    </div>
                    <p class="parag">STORAGE</p>

                </div>
                <div class="item hovereffect">
                    <img src="assets/images/tv.jpg" alt="" class="img-responsive">
                    <div class="iconsofitem ps-3">
                        <button class="Addtocart btn HoverBlue addCategorybtn">Add to cart</button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-heart "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="fa-solid fa-arrows-rotate "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-cart "></i></button>
                    </div>
                    <p class="parag">TV</p>
                </div>
                <div class="item hovereffect">
                    <img src="assets/images/software.jpg" alt="" class="img-responsive">
                    <div class="iconsofitem ps-3">
                        <button class="Addtocart btn HoverBlue addCategorybtn">Add to cart</button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-heart "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="fa-solid fa-arrows-rotate "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-cart "></i></button>
                    </div>
                    <p class="parag">SOFTWARE</p>

                </div>
                <div class="item hovereffect">
                    <img src="assets/images/Bundles.jfif" alt="" class="img-responsive">
                    <div class="iconsofitem ps-3">
                        <button class="Addtocart btn HoverBlue addCategorybtn">Add to cart</button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-heart "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="fa-solid fa-arrows-rotate "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-cart "></i></button>
                    </div>
                    <p class="parag">BUNDLES</p>

                </div>
                <div class="item hovereffect">
                    <img src="assets/images/Access.jpg" alt="" class="img-responsive">
                    <div class="iconsofitem">
                        <button class="Addtocart btn HoverBlue addCategorybtn">Add to cart</button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-heart "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="fa-solid fa-arrows-rotate "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-cart "></i></button>
                    </div>
                    <p class="parag">ACCESSORIES</p>
                </div>
                <div class="item hovereffect">
                    <img src="assets/images/tools.jpg" alt="" class="img-responsive">
                    <div class="iconsofitem ps-3">
                        <button class="Addtocart btn HoverBlue addCategorybtn">Add to cart</button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-heart "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="fa-solid fa-arrows-rotate "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-cart "></i></button>
                    </div>
                    <p class="parag">TOOLS</p>
                </div>
            </div>

        </div>

    </div>
    <div class="buttonsOfScroll">
        <button type="button" class="btn btnScroll sliderleft" id="sliderleft1" (click)="ClickLeft1()">
            < </button>
                <button type="button" class="btn btnScroll sliderleft" id="slideright1" (click)="ClickRight1()"> >
                </button>
    </div>



    <!-- *********************Notebook******************* -->


    <div class="ps-4 pe-4">
        <h4>NOTEBOOK</h4>
        <hr>
        <div class="horizontal_slider container2" id="container2">
            <div class="slider_container">
                <div class="item hovereffect">
                    <div class="itemImage card bg-dark text-white">
                        <img src="assets/images/desktop.jpeg" alt="" class="card-img">
                        <div class="card-img-overlay">
                            <button class="btn HoverBlue addCategorybtn" style="margin-left: 40%; margin-top: 18%;"><i
                                    class="bi bi-eye "></i></button>
                        </div>
                    </div>
                    <div class="iconsofitem ps-3">
                        <button class="Addtocart btn HoverBlue addCategorybtn">Add to cart</button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-heart "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="fa-solid fa-arrows-rotate "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-cart "></i></button>
                    </div>
                    <p class="parag">DESKTOP</p>
                </div>
                <div class="item hovereffect">
                    <img src="assets/images/network.jpg" alt="" class="img-responsive">

                    <div class="iconsofitem ps-3">
                        <button class="Addtocart btn HoverBlue addCategorybtn">Add to cart</button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-heart "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="fa-solid fa-arrows-rotate "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-cart "></i></button>
                    </div>
                    <p class="parag">NETWORK</p>
                </div>
                <div class="item hovereffect">
                    <img src="assets/images/notebook.jpg" alt="" class="img-responsive">

                    <div class="iconsofitem ps-3">
                        <button class="Addtocart btn HoverBlue addCategorybtn">Add to cart</button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-heart "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="fa-solid fa-arrows-rotate "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-cart "></i></button>
                    </div>
                    <p class="parag">NOTEBOOK</p>
                </div>
                <div class="item hovereffect">
                    <img src="assets/images/storage.jpg" alt="" class="img-responsive">

                    <div class="iconsofitem ps-3">
                        <button class="Addtocart btn HoverBlue addCategorybtn">Add to cart</button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-heart "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="fa-solid fa-arrows-rotate "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-cart "></i></button>
                    </div>
                    <p class="parag">STORAGE</p>

                </div>
                <div class="item hovereffect">
                    <img src="assets/images/tv.jpg" alt="" class="img-responsive">
                    <div class="iconsofitem ps-3">
                        <button class="Addtocart btn HoverBlue addCategorybtn">Add to cart</button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-heart "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="fa-solid fa-arrows-rotate "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-cart "></i></button>
                    </div>
                    <p class="parag">TV</p>
                </div>
                <div class="item hovereffect">
                    <img src="assets/images/software.jpg" alt="" class="img-responsive">
                    <div class="iconsofitem ps-3">
                        <button class="Addtocart btn HoverBlue addCategorybtn">Add to cart</button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-heart "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="fa-solid fa-arrows-rotate "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-cart "></i></button>
                    </div>
                    <p class="parag">SOFTWARE</p>

                </div>
                <div class="item hovereffect">
                    <img src="assets/images/Bundles.jfif" alt="" class="img-responsive">
                    <div class="iconsofitem ps-3">
                        <button class="Addtocart btn HoverBlue addCategorybtn">Add to cart</button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-heart "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="fa-solid fa-arrows-rotate "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-cart "></i></button>
                    </div>
                    <p class="parag">BUNDLES</p>

                </div>
                <div class="item hovereffect">
                    <img src="assets/images/Access.jpg" alt="" class="img-responsive">
                    <div class="iconsofitem ps-3">
                        <button class="Addtocart btn HoverBlue addCategorybtn">Add to cart</button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-heart "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="fa-solid fa-arrows-rotate "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-cart "></i></button>
                    </div>
                    <p class="parag">ACCESSORIES</p>
                </div>
                <div class="item hovereffect">
                    <img src="assets/images/tools.jpg" alt="" class="img-responsive">
                    <div class="iconsofitem ps-3">
                        <button class="Addtocart btn HoverBlue addCategorybtn">Add to cart</button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-heart "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="fa-solid fa-arrows-rotate "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-cart "></i></button>
                    </div>
                    <p class="parag">TOOLS</p>
                </div>
            </div>

        </div>

    </div>
    <div class="buttonsOfScroll">
        <button type="button" class="btn btnScroll sliderleft" id="sliderleft2" (click)="ClickLeft2()">
            < </button>
                <button type="button" class="btn btnScroll sliderleft" id="slideright2" (click)="ClickRight2()"> >
                </button>
    </div>

    <!-- ***************Container of images************ -->

    <div class="container">
        <div class="row">
            <div class=" col-lg-6">
                <div class="container1" style="padding-bottom: 3px;">
                    <img src="assets/images/Carousel4.jpg" alt="Avatar" class="image" style="width: 100%">
                </div>
            </div>
            <div class=" col-lg-6">
                <div class="container1">
                    <img src="assets/images/Dominate.jpg" alt="Avatar" class="image" style="width: 100%">
                </div>
            </div>
        </div>
    </div>


    <!-- *********************STORAGE******************* -->


    <div class="ps-4 pe-4 pt-5">
        <h4>STORAGE</h4>
        <hr>
        <div class="horizontal_slider container11" id="container3">
            <div class="slider_container">
                <div class="item hovereffect">
                    <div class="itemImage card bg-dark text-white">
                        <img src="assets/images/desktop.jpeg" alt="" class="card-img">
                        <div class="card-img-overlay">

                        </div>
                    </div>
                    <div class="iconsofitem ps-3">
                        <button class="Addtocart btn HoverBlue addCategorybtn">Add to cart</button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-heart "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="fa-solid fa-arrows-rotate "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-cart "></i></button>
                    </div>
                    <p class="parag">DESKTOP</p>
                </div>
                <div class="item hovereffect">
                    <img src="assets/images/network.jpg" alt="" class="img-responsive">
                    <div class="iconsofitem ps-3">
                        <button class="Addtocart btn HoverBlue addCategorybtn">Add to cart</button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-heart "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="fa-solid fa-arrows-rotate "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-cart "></i></button>
                    </div>
                    <p class="parag">NETWORK</p>
                </div>
                <div class="item hovereffect">
                    <img src="assets/images/notebook.jpg" alt="" class="img-responsive">
                    <div class="iconsofitem">
                        <button class="Addtocart btn HoverBlue addCategorybtn">Add to cart</button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-heart "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="fa-solid fa-arrows-rotate "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-cart "></i></button>
                    </div>
                    <p class="parag">NOTEBOOK</p>
                </div>
                <div class="item hovereffect">
                    <img src="assets/images/storage.jpg" alt="" class="img-responsive">
                    <div class="iconsofitem ps-3">
                        <button class="Addtocart btn HoverBlue addCategorybtn">Add to cart</button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-heart "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="fa-solid fa-arrows-rotate "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-cart "></i></button>
                    </div>
                    <p class="parag">STORAGE</p>

                </div>
                <div class="item hovereffect">
                    <img src="assets/images/tv.jpg" alt="" class="img-responsive">
                    <div class="iconsofitem ps-3">
                        <button class="Addtocart btn HoverBlue addCategorybtn">Add to cart</button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-heart "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="fa-solid fa-arrows-rotate "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-cart "></i></button>
                    </div>
                    <p class="parag">TV</p>
                </div>
                <div class="item hovereffect">
                    <img src="assets/images/software.jpg" alt="" class="img-responsive">
                    <div class="iconsofitem ps-3">
                        <button class="Addtocart btn HoverBlue addCategorybtn">Add to cart</button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-heart "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="fa-solid fa-arrows-rotate "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-cart "></i></button>
                    </div>
                    <p class="parag">SOFTWARE</p>

                </div>
                <div class="item hovereffect">
                    <img src="assets/images/Bundles.jfif" alt="" class="img-responsive">
                    <div class="iconsofitem ps-3">
                        <button class="Addtocart btn HoverBlue addCategorybtn">Add to cart</button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-heart "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="fa-solid fa-arrows-rotate "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-cart "></i></button>
                    </div>
                    <p class="parag">BUNDLES</p>

                </div>
                <div class="item hovereffect">
                    <img src="assets/images/Access.jpg" alt="" class="img-responsive">
                    <div class="iconsofitem">
                        <button class="Addtocart btn HoverBlue addCategorybtn">Add to cart</button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-heart "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="fa-solid fa-arrows-rotate "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-cart "></i></button>
                    </div>
                    <p class="parag">ACCESSORIES</p>
                </div>
                <div class="item hovereffect">
                    <img src="assets/images/tools.jpg" alt="" class="img-responsive">
                    <div class="iconsofitem ps-3">
                        <button class="Addtocart btn HoverBlue addCategorybtn">Add to cart</button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-heart "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="fa-solid fa-arrows-rotate "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-cart "></i></button>
                    </div>
                    <p class="parag">TOOLS</p>
                </div>
            </div>

        </div>

    </div>
    <div class="buttonsOfScroll">
        <button type="button" class="btn btnScroll sliderleft" id="sliderleft3" (click)="ClickLeft3()">
            < </button>
                <button type="button" class="btn btnScroll sliderleft" id="slideright3" (click)="ClickRight3()"> >
                </button>
    </div>





    <!-- *********************MONITORS******************* -->


    <div class="ps-4 pe-4">
        <h4>MONITORS</h4>
        <hr>
        <div class="horizontal_slider container11" id="container4">
            <div class="slider_container">
                <div class="item hovereffect">
                    <div class="itemImage card bg-dark text-white">
                        <img src="assets/images/desktop.jpeg" alt="" class="card-img">
                        <div class="card-img-overlay">

                        </div>
                    </div>
                    <div class="iconsofitem ps-3">
                        <button class="Addtocart btn HoverBlue addCategorybtn">Add to cart</button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-heart "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="fa-solid fa-arrows-rotate "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-cart "></i></button>
                    </div>
                    <p class="parag">DESKTOP</p>
                </div>
                <div class="item hovereffect">
                    <img src="assets/images/network.jpg" alt="" class="img-responsive">
                    <div class="iconsofitem ps-3">
                        <button class="Addtocart btn HoverBlue addCategorybtn">Add to cart</button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-heart "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="fa-solid fa-arrows-rotate "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-cart "></i></button>
                    </div>
                    <p class="parag">NETWORK</p>
                </div>
                <div class="item hovereffect">
                    <img src="assets/images/notebook.jpg" alt="" class="img-responsive">
                    <div class="iconsofitem">
                        <button class="Addtocart btn HoverBlue addCategorybtn">Add to cart</button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-heart "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="fa-solid fa-arrows-rotate "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-cart "></i></button>
                    </div>
                    <p class="parag">NOTEBOOK</p>
                </div>
                <div class="item hovereffect">
                    <img src="assets/images/storage.jpg" alt="" class="img-responsive">
                    <div class="iconsofitem ps-3">
                        <button class="Addtocart btn HoverBlue addCategorybtn">Add to cart</button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-heart "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="fa-solid fa-arrows-rotate "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-cart "></i></button>
                    </div>
                    <p class="parag">STORAGE</p>

                </div>
                <div class="item hovereffect">
                    <img src="assets/images/tv.jpg" alt="" class="img-responsive">
                    <div class="iconsofitem ps-3">
                        <button class="Addtocart btn HoverBlue addCategorybtn">Add to cart</button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-heart "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="fa-solid fa-arrows-rotate "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-cart "></i></button>
                    </div>
                    <p class="parag">TV</p>
                </div>
                <div class="item hovereffect">
                    <img src="assets/images/software.jpg" alt="" class="img-responsive">
                    <div class="iconsofitem ps-3">
                        <button class="Addtocart btn HoverBlue addCategorybtn">Add to cart</button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-heart "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="fa-solid fa-arrows-rotate "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-cart "></i></button>
                    </div>
                    <p class="parag">SOFTWARE</p>

                </div>
                <div class="item hovereffect">
                    <img src="assets/images/Bundles.jfif" alt="" class="img-responsive">
                    <div class="iconsofitem ps-3">
                        <button class="Addtocart btn HoverBlue addCategorybtn">Add to cart</button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-heart "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="fa-solid fa-arrows-rotate "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-cart "></i></button>
                    </div>
                    <p class="parag">BUNDLES</p>

                </div>
                <div class="item hovereffect">
                    <img src="assets/images/Access.jpg" alt="" class="img-responsive">
                    <div class="iconsofitem">
                        <button class="Addtocart btn HoverBlue addCategorybtn">Add to cart</button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-heart "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="fa-solid fa-arrows-rotate "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-cart "></i></button>
                    </div>
                    <p class="parag">ACCESSORIES</p>
                </div>
                <div class="item hovereffect">
                    <img src="assets/images/tools.jpg" alt="" class="img-responsive">
                    <div class="iconsofitem ps-3">
                        <button class="Addtocart btn HoverBlue addCategorybtn">Add to cart</button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-heart "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="fa-solid fa-arrows-rotate "></i></button>
                        <button class="btn HoverBlue addCategorybtn"><i class="bi bi-cart "></i></button>
                    </div>
                    <p class="parag">TOOLS</p>
                </div>
            </div>

        </div>

    </div>
    <div class="buttonsOfScroll">
        <button type="button" class="btn btnScroll sliderleft" id="sliderleft4" (click)="ClickLeft4()">
            < </button>
                <button type="button" class="btn btnScroll sliderleft" id="slideright4" (click)="ClickRight4()"> >
                </button>
    </div>