<div class="container">
    <div class="d-flex">
        <div class="col-md-9 me-4">
            <div class="d-inline">
                <h2>Order History</h2>
            </div>

            <p class="info fs-6 fw-bold">

                <br>فى حالة الرغبة فى التاكيد او متابعة الاوردر او مشاكل الشحن وتعديل البيانات
                برجاء التواصل مع : <br>
                (( قسم الشحن ))<br>

                01094624447<br>
                01012106677<br>


                وفى حالة مشاكل الشحن . تواصل مع : <br>

                01012499600<br>
                التواصل من الاحد للخميس من الساعه 10ص حتي الساعه 6 م<br>

            </p>
            <div class="">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <td class="text-center">Order ID</td>
                                <td class="text-center">Qty</td>
                                <td class="text-center">Status</td>
                                <td class="text-center">Date Added</td>
                                <td class="text-right">Total</td>
                                <td class="text-right">Points</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <div class="">
                <h2>ACCOUNT DETAILS</h2>
            </div>

            <div class="d-grid gap-1">
                <a href="#">user</a>
                <a href="#">user@gmail.com</a>
                <button class="btn cus-btn rounded-0" href="" target="_blank">Add New Address</button>
                <button class="btn cus-btn rounded-0" href="" target="_blank">Change my Password</button>
            </div>

            <div class="table-responsive mt-3">
                <table class="table table-bordered">
                    <thead class="text-center">
                        <tr class="cus-tr">
                            <td colspan="2">Available Vouchers</td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>




            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="text-center">
                        <tr class="cus-tr">
                            <td>Total Point</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="fw-bold fs-4 text-center text-secondary">0</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            
        </div>
    </div>
</div>