<div class="container pt-2">
    <p>Name of category</p>
    <hr class="">
    <div class="d-flex item hovereffect">
        
            <img src="Access.jpg" alt="" class="img-responsive">
            <div class="iconsofitem ps-5">
                <p class="HoverBlue" style="font-weight: bold;">title of item</p>
                <p style="color:   rgb(158, 158, 233);">Price of item</p>
                <p class="HoverBlue">description of item</p>

                <button class="Addtocart btn HoverBlue addCategorybtn">Add to cart</button>
                <button class="btn HoverBlue addCategorybtn"><i class="bi bi-heart "></i></button>
                <button class="btn HoverBlue addCategorybtn"><i class="fa-solid fa-arrows-rotate "></i></button>
                <button class="btn HoverBlue addCategorybtn"><i class="bi bi-cart "></i></button>
            </div>
       
        </div>

    </div>

